
/* html,body{
    height:100%;
    min-width: 650px;
} */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #66BFBF;
    /* color: teal; */
    /* background-color: teal; */
    
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 562.5%; /* Dynamic 100% = 16px; so if we want 90px will be 90/16= 562.5%*/
    margin: 20px;
    
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* padding-bottom: 10px; */
}


h3 {
    font-weight: bold;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color:#40514E;
}

li {
    color:#40514E;
    font-weight: bold;
}

.subtitle {
    color: #66BFBF;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    padding: 20px;
    margin: auto;
    width: 30%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.avatar {
    height: 85px;
    width: 80px;
    border-radius: 50%;
    background-color: teal;
    /* position: relative;
    right: 40px; */
}

.top-cloud {
    position: relative;
    left: 200px;
}

.bottom-cloud {
    position: absolute;
}

.hello-container {
    background-color: white;
    padding: 60px;
}

.profile{
    padding: 60px;
}

.skill-row {
    padding: 60px;
}


.contact-me {
    /* background-color: white; */
    padding: 40px;
    margin: 40px auto 60px;
    /* width: 40%; */

}

.contact-message {
    padding: 20px;
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 40px;
}

.footer {
    background-color: #66BFBF;
    padding: 60px;
    margin: 0;
}

